# Backend environment
TV_WEBHOOK_SECRET=change-this
CORS_ALLOW_ORIGIN=https://avobati.github.io
TV_DB_PATH=./data/tradingview_signals.db
SCAN_DB_PATH=./data/scanner_results.db
ENABLE_BACKGROUND_SCANNER=true
SCAN_INTERVAL_MINUTES=360
RUN_SCAN_ON_START=true
PORT=8080
HOST=0.0.0.0
